.dark-mode-toggle {
    background-color: white; /* 투명 배경 */
    color: #5e8cff; /* 기본 텍스트 색상 */
    border-radius: 12px; /* 둥근 버튼 */
    padding: 5px 10px;
    margin-bottom: 10px;
    font-size: 1rem; /* 텍스트 크기 */
    font-weight: 700; /* 굵기 */
    cursor: pointer; /* 클릭 가능한 커서 */
    transition: all 0.3s ease; /* 부드러운 애니메이션 */
    box-shadow: 4px 4px 15px 4px rgba(0, 0, 0, 0.05); /* 부드러운 그림자 */
    border: 1px solid #5e8cff; /* 메인 색상 테두리 */


}

.dark-mode-toggle:hover {
    background-color: #5e8cff; /* 호버 시 배경색 변경 */
    color: white; /* 호버 시 텍스트 색상 변경 */
}

.dark-mode {
    background-color: #121212; /* 다크모드 배경색 */
}

body {
    transition: background-color 0.3s ease, color 0.3s ease; /* 배경색과 텍스트색 부드러운 전환 */
}