.dark-mode-toggle {
    background-color: #353535; /* 투명 배경 */
    color: white; /* 기본 텍스트 색상 */
    border-radius: 10px; /* 둥근 버튼 */
    padding: 13px 7px;
    font-size: 0.9rem; /* 텍스트 크기 */
    margin-top: 5px;
    font-weight: 700; /* 굵기 */
    cursor: pointer; /* 클릭 가능한 커서 */
    transition: all 0.3s ease; /* 부드러운 애니메이션 */
    border: none;
    line-height: 0;


}


.dark-mode {
    background-color: #121212; /* 다크모드 배경색 */
}

body.dark-mode .dark-mode-toggle {
    background-color: white; /* 투명 배경 */
    color: #353535; /* 기본 텍스트 색상 */

}

body {
    transition: background-color 0.3s ease, color 0.3s ease; /* 배경색과 텍스트색 부드러운 전환 */
}