.project-list-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.project-title {
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    text-align: left;
    width: 100%;
}

.project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    width: 100%;
    justify-content: center;
}

body.dark-mode .project-title {
    color: #cccccc;
}