.project-list-container {
    display: flex;
    flex-direction: column; /* 기본 세로 정렬 */
    align-items: flex-start; /* 제목 좌측 정렬 */
}

/* 제목 스타일 */
.project-title {
    margin-bottom: 20px;
    font-size: 1.8rem;
    font-weight: bold;
    color: #333;
    text-align: left; /* 좌측 정렬 */
    width: 100%; /* 제목이 카드와 겹치지 않도록 전체 너비 사용 */
}

/* 카드 리스트 스타일 */
.project-list {
    display: grid; /* Grid 레이아웃 사용 */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* 카드의 최소/최대 크기 설정 */
    gap: 30px; /* 카드 간 간격 */
    width: 100%; /* 카드 리스트는 전체 너비 사용 */
    justify-content: center; /* 카드 중앙 정렬 */
}

body.dark-mode .project-title {
    color: #cccccc;
}