@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;

  --background: #F3F4F6;
  --foreground: #0A0A0A;
  --header-background: #FFFFFF;

  --card: #FFFFFF; 
  --card-foreground: #0A0A0A;

  --popover: #FFFFFF;
  --popover-foreground: #0A0A0A;

  --primary: #3B82F6;
  --primary-foreground: #FFFFFF; 

  --secondary: #F3F4F6;
  --secondary-foreground: #1F2937;

  --muted: #F3F4F6;
  --muted-foreground: #6B7280;

  --accent: #F3F4F6;
  --accent-foreground: #111827;

  --destructive: #EF4444;
  --destructive-foreground: #FFFFFF; 

  --border: #E5E7EB;
  --input: #E5E7EB; 
  --ring: #3B82F6;
}

.dark {
  --background: #0A0A0A;
  --foreground: #F5F5F5;
  --header-background: #121212;

  --card: #121212;
  --card-foreground: #F5F5F5;

  --popover: #121212;
  --popover-foreground: #F5F5F5;

  --primary: #3B82F6;
  --primary-foreground: #FFFFFF; 

  --secondary: #2C2C2C;
  --secondary-foreground: #E0E0E0;

  --muted: #2C2C2C;
  --muted-foreground: #A0A0A0;

  --accent: #2C2C2C;
  --accent-foreground: #F5F5F5;

  --destructive: #DC2626;
  --destructive-foreground: #FFFFFF;

  --border: #333333;
  --input: #333333;
  --ring: #3B82F6;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
