.header p, .header div {
    opacity: 0;
    margin: 0;
    text-align: center;
}


.fade-in {
    opacity: 0;
    transition: opacity 1.2s ease;
}

.fade-in.visible {
    opacity: 1;
}

.small-text {
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.2;
    color: #8a8a8a;
    text-align: center;
}

.large-text {
    font-size: 2.5rem;
    font-weight: 700;
    color: #353535;
    text-align: center;
    padding-bottom: 3px;
}

.resume-button {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    display: inline-flex;
    align-items: center;
    gap: 0.2rem;
    color: #5e8cff;
    font-size: 1.3rem;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

.resume-button:hover {
    color: #3c6edc;
}

/* 아이콘 스타일 */
.resume-button svg {
    width: 1rem;
    height: 1rem;
    fill: currentColor;
}

body.dark-mode .large-text {
    color: #cccccc;
}
body.dark-mode .resume-button {
    color: #a1bcff;
}

body.dark-mode .resume-button:hover {
    color: #3c6edc;
}

@media (max-width: 404px) {
    .small-text {
        font-size: 1.1rem;
    }

    .large-text {
        font-size: 2.3rem;
    }
    .resume-button {
        font-size: 1.1rem;
    }
    .resume-button svg {
        width: 0.8rem;
        height: 0.8rem;
    }
}

@media (max-width: 341px) {
    .small-text {
        font-size: 0.9rem;
    }

    .large-text {
        font-size: 2.1rem;
    }
    .resume-button {
        font-size: 0.9rem;
    }
    .resume-button svg {
        width: 0.7rem;
        height: 0.7rem;
    }
}