.footer {
    padding-top: 5.5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
}

.footer-icons {
    display: flex;
    gap: 0.9rem;
}

.footer-icon {
    font-size: 1.6rem;
    transition: color 0.3s ease;
    text-decoration: none;
    color: var(--color-bg-dark);
}

body.dark-mode .footer-icon {
    color: var(--color-bg-light);
}

.footer-text {
    font-size: 0.9rem;
    color: #8a8a8a;
    margin: 0;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
    }
    .footer-text {
        position: static;
        transform: none;
    }
}