:root {
  font-family: 'Freesentation', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

}
/* 스크롤 차단 */
.no-scroll {
  overflow: hidden !important; /* 모든 스크롤 차단 */
  position: fixed; /* 화면 고정 */
  top: 0;
  left: 0;
  touch-action: none; /* 터치 스크롤 차단 */
  overscroll-behavior: none; /* 추가 스크롤 차단 */

  display: flex; /* Flexbox 활성화 */
  justify-content: center; /* 가로축 중앙 정렬 */
  align-items: center; /* 세로축 중앙 정렬 */
  flex-direction: column; /* 세로 방향으로 콘텐츠 배치 */
}
body {
  font-family: "Freesentation", sans-serif;
  padding: 17% 10% 50px 10%;
  margin: 0;
  background-color: var(--color-bg-light);
  color: var(--color-text-light);
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark-mode {
  background-color: var(--color-bg-dark);
  color: var(--color-text-dark);
}


a {
  text-decoration: none;
}

@font-face {
  font-family: 'Freesentation';
  src: url('./assets/fonts/Freesentation-9Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Freesentation';
  src: url('./assets/fonts/Freesentation-8ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Freesentation';
  src: url('./assets/fonts/Freesentation-7Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Freesentation';
  src: url('./assets/fonts/Freesentation-6SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Freesentation';
  src: url('./assets/fonts/Freesentation-5Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Freesentation';
  src: url('./assets/fonts/Freesentation-4Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Freesentation';
  src: url('./assets/fonts/Freesentation-3Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Freesentation';
  src: url('./assets/fonts/Freesentation-2ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Freesentation';
  src: url('./assets/fonts/Freesentation-1Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
